{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block body_class %}viewport-cover{% endblock %}
{% block content %}
<!-- Wrapping div for both sorting and products sections -->

<div class="container mb-2 pt-5">
    <div class="row">
        <div class="col mt-5 text-center text-white">
            <hr>
            <h2 class="logo-font mb-4 mt-5">Shopping cart</h2>
        </div>
    </div>
</div>

<div class="product-card-bg mx-1 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded pt-4 text-white">
                    <table class="table table-sm table-borderless text-white">
                        <thead class="text-white">
                            <tr class="text-center">
                                <th scope="col"></th>
                                <th scope="col">realDream</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded"
                                    src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0 text-white">
                                    <strong>{{ item.product.name }}</strong>
                                </p>
                                <p class="my-0 small">Size:
                                    {{ item.product.size|upper }}</p>
                                <p class="my-0 small">Duration:
                                    {{ item.product.duration|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0 text-white">
                                    €{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25 text-center">
                                <p class="my-0">{{ item.quantity }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-3 text-right">
                                <h6><strong>Total amount:
                                        €{{ total|floatformat:2 }}</strong>
                                </h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}
                                </h6>
                                <h4 class="my-4"><strong>Grand Total:
                                        €{{ grand_total|floatformat:2 }}</strong>
                                </h4>
                                {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    You could get free delivery by spending
                                    just
                                    <strong>€{{ free_delivery_delta }}</strong>
                                    more!
                                </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="border-1">
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}"
                                    class="btn btn-outline-black rounded-2 p-1 small">
                                    <i
                                        class="fas fa-chevron-left text-white"></i><span
                                        class="sort-nav-link">Shop
                                        more</span>
                                </a>
                                <a href=""
                                    class="btn btn-black rounded-2 p-1 btn-lg">
                                    <span class="text-uppercase">Secure
                                        Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'products' %}"
                    class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}