{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block body_class %}viewport-cover{% endblock %}
{% block content %}

<div class="container mb-2 pt-5">
    <div class="row">
        <div class="col mt-5 text-center dispaly-md-2">
            <hr>
            <h2 class="cart-heading mb-4 mt-5">Shopping cart</h2>
        </div>
    </div>
</div>

<div class="cart-bg mx-1 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded pt-4">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr class="text-center">
                                <th scope="col"></th>
                                <th scope="col">realDream</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded"
                                    src="{{ item.product.image.url }}"
                                    alt="{{ item.product.name }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0">
                                    <strong>{{ item.product.name }}</strong>
                                </p>
                                <p class="my-0 small text-muted">Size:
                                    {{ item.product.size|upper }}</p>
                                <p class="my-0 small text-muted">Duration:
                                    {{ item.product.duration|upper }}</p>
                            </td>
                            <td class="py-3">€{{ item.product.price }}</td>
                            <td class="py-3 text-center">
                                <form
                                    action="{% url 'update_cart' item.product.id %}"
                                    method="POST"
                                    class="d-flex flex-column align-items-center">
                                    {% csrf_token %}
                                    <!-- Quantity Selector with Increment/Decrement -->
                                    <div
                                        class="input-group input-group-sm mb-2">
                                        <div class="input-group-prepend">
                                            <button
                                                class="btn btn-outline-secondary btn-decrement"
                                                type="button"
                                                data-item-id="{{ item.product.id }}">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" name="quantity"
                                            value="{{ item.quantity }}" min="1"
                                            max="9"
                                            class="form-control text-center"
                                            id="id_qty_{{ item.product.id }}">
                                        <div class="input-group-append">
                                            <button
                                                class="btn btn-outline-secondary btn-increment"
                                                type="button"
                                                data-item-id="{{ item.product.id }}">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Update and Remove buttons next row -->
                                    <div
                                        class="w-100 d-flex justify-content-center">
                                        <button
                                            class="btn btn-outline-secondary btn-sm"
                                            type="submit" title="Update">
                                            <i class="fas fa-sync-alt"></i>
                                        </button>
                                        <a href="{% url 'remove_from_cart' item.product.id %}"
                                            class="btn btn-outline-danger btn-sm"
                                            role="button" title="Remove">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </form>
                            </td>
                            <td class="py-3 text-right">€{{ item.subtotal }}
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Calculate Total Amount with consultation fee -->
                        <tr>
                            <td colspan="5" class="pt-4 text-right">
                                <h6><strong>Total amount:
                                        €{{ total|floatformat:"2" }}</strong>
                                </h6>
                                <h6>Consultation:
                                    €{{ consultation|floatformat:"2" }}</h6>
                                <p
                                    class="mb-1 {% if consultation == 0 %}text-success{% else %}text-danger{% endif %}">
                                    {{ free_consultation_message }}
                                </p>
                                <h4 class="my-2"><strong>Grand Total:
                                        €{{ grand_total|floatformat:"2" }}</strong>
                                </h4>
                            </td>
                        </tr>

                        <tr class="border-1">
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-2 p-1
                                    text-white small">
                                    <i class="fas fa-chevron-left"></i><span
                                        class="sort-nav-link">Shop
                                        more</span>
                                </a>
                                <a href=""
                                    class="btn btn-black rounded-2 p-1 btn-lg">
                                    <span class="text-uppercase">Secure
                                        Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'products' %}"
                    class="btn btn-outline-black rounded-2 p-1 small">
                    <i class="fas fa-chevron-left"></i><span
                        class="sort-nav-link">Shop
                        more</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    /**
     * Handles increment and decrement functionality for quantity selectors.
     * Ensures quantity does not go below 1 or above 9.
     * Applicable to all items identified by a unique data-item-id.
     */
    document.querySelectorAll('.btn-decrement, .btn-increment').forEach(
        button => {
            button.addEventListener('click', function () {
                const itemId = this.getAttribute('data-item-id');
                const input = document.querySelector(
                    `#id_qty_${itemId}`);
                let value = parseInt(input.value, 10);
                if (this.classList.contains('btn-decrement') &&
                    value > 1) {
                    input.value = value - 1;
                } else if (this.classList.contains(
                        'btn-increment') && value < 9) {
                    input.value = value + 1;
                }
            });
        });
</script>

{% endblock %}