{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block body_class %}viewport-cover{% endblock %}
{% block content %}

<div class="container mb-2 pt-5">
    <div class="row">
        <div class="col mt-5 text-center dispaly-md-2">
            <hr>
            <h2 class="cart-heading mb-4 mt-5">Shopping cart</h2>
        </div>
    </div>
</div>

<div class="cart-bg mx-1 mb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded pt-4">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr class="text-center">
                                <th scope="col"></th>
                                <th scope="col">realDream</th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded"
                                    src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="my-0">
                                    <strong>{{ item.product.name }}</strong>
                                </p>
                                <p class="my-0 small text-muted">Size:
                                    {{ item.product.size|upper }}</p>
                                <p class="my-0 small text-muted">Duration:
                                    {{ item.product.duration|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">
                                    €{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25 text-center">
                                <form
                                    action="{% url 'update_cart' item.product.id %}"
                                    method="POST" class="w-100">
                                    {% csrf_token %}
                                    <div
                                        class="justify-content-between align-items-center">
                                        <div class="">
                                            <!-- Quantity Selector on its own row -->
                                            <input type="number"
                                                name="quantity"
                                                value="{{ item.quantity }}"
                                                min="1" max="99"
                                                class="form-control-sm"
                                                style="width: auto; max-width: 60px;">
                                        </div>
                                        <div
                                            class="d-flex justify-content-center">
                                            <!-- Update Button to the Left -->
                                            <button
                                                class="btn text-muted btn-sm"
                                                type="submit" title="Update">
                                                <i class="fas fa-sync-alt"></i>
                                            </button>
                                            <!-- Remove Button to the Right -->
                                            <a href="{% url 'remove_from_cart' item.product.id %}"
                                                class="btn text-muted btn-sm"
                                                role="button" title="Remove">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </td>

                            <td class="py-3 text-right"
                                id="item-subtotal-{{ item.product.id }}">
                                €{{ item.subtotal }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-4 text-right">
                                <h6><strong>Total amount:
                                        €{{ total|floatformat:2 }}</strong>
                                </h6>
                                <!-- If there's a consultation fee -->
                                {% if consultation > 0 %}
                                <h6>Consultation:
                                    €{{ consultation|floatformat:2 }}</h6>
                                {% endif %}
                                <h4 class="my-2"><strong>Grand Total:
                                        €{{ grand_total|floatformat:2 }}</strong>
                                </h4>
                                <!-- Shows how much more needs to be spent for free consultation, if applicable -->
                                {% if free_consultation_delta > 0 %}
                                <p class="mb-1 text-danger">
                                    Spend just
                                    €{{ free_consultation_delta|floatformat:2 }}
                                    more to qualify for a free consultation!
                                </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="border-1">
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-2 p-1
                                    text-white small">
                                    <i class="fas fa-chevron-left"></i><span
                                        class="sort-nav-link">Shop
                                        more</span>
                                </a>
                                <a href=""
                                    class="btn btn-black rounded-2 p-1 btn-lg">
                                    <span class="text-uppercase">Secure
                                        Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your cart is empty.</p>
                <a href="{% url 'products' %}"
                    class="btn btn-outline-black rounded-2 p-1 small">
                    <i class="fas fa-chevron-left"></i><span
                        class="sort-nav-link">Shop
                        more</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}