{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Slogan Section -->
    <div class="container h-100 mb-5">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-10 text-center">
                <h2 class="my-5 slogan fade-in-h2">
                    <span class="real-font-slogan mb-3 display-4">SAIL
                        the SEAS of FANTASY</span>
                </h2>
                <h3 class="fade-in-h2">
                    <span class="real-font display-5">launch your </span>
                    <br>
                    <span class="real-font-slogan display-5">real</span>
                    <span class="dreams-font-righteous display-5">Dream </span>
                    <br>
                    <span class="real-font-slogan display-5">voyage</span>
                </h3>
            </div>
        </div>
    </div>

    <!-- BANNER SECTION -->
    <section id="banner" class="text-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Buttons -->
                <div class="col-4 col-sm-3 col-md-2">
                    <a href="{% url 'products' %}"
                        class="btn btn-banner btn-block btn-sm p-0">Discover<br>
                        Dreams</a>
                    <p class="mt-1 banner-p">Start your dream journey today!
                    </p>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                    <a href="#"
                        class="btn btn-banner btn-block btn-sm p-0">About<br>
                        Us</a>
                    <p class="mt-1 banner-p">Learn more about our vision and
                        values</p>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                    <a href="#"
                        class="btn btn-banner btn-block btn-sm p-0">What's<br>
                        Up</a>
                    <p class="mt-1 banner-p">Stay updated with the latest news
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}