{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="viewport-cover d-flex flex-column justify-content-center align-items-center"
    style="background: url('{% static "warm_clouds.jpg" %}') no-repeat center center; background-size: cover;">
    <h1 class="display-2 text-white fade-in-h1">
        <span class="real-font">real</span><span
            class="dreams-font-righteous">Dreams Co.</span>
    </h1>
    <h2 class="display-5 text-white fade-in-h2">Where dreams become real
        adventures!
    </h2>
    <p class="fade-in-p">...Currently Under Construction...</p>
    <button class="btn btn-lg btn-explore">Explore</button>
</div>

{% endblock %}