{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <!-- Slogan Section -->
    <div id="#top" class="container mt-slogan h-100 mb-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-10 text-center">
                <h2 class="slogan fade-in-h2">
                    <span class="real-font-slogan mb-3 display-4">SAIL
                        the SEAS of FANTASY</span>
                </h2>
                <h3 class="fade-in-h2 margin-extra-large">
                    <span class="real-font">launch your </span>
                    <br>
                    <span class="real-font-slogan">real</span><span
                        class="dreams-font-righteous">Dream</span>
                    <br>
                    <span class="real-font-slogan">voyage</span>
                </h3>
            </div>
        </div>
    </div>

    <!-- BANNER SECTION -->
    <section class="banner text-center pt-4 my-5">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Buttons -->
                <div class="col-4 col-sm-3 col-md-2">
                    <a href="{% url 'products' %}"
                        class="btn btn-banner btn-block pt-2 text-uppercase">Discover<br>
                        Dreams</a>
                    <p class="mt-1 py-2 banner-p">Start your dream journey
                        today!
                    </p>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                    <a href="#about_us" class="btn btn-banner btn-block pt-2
                        text-uppercase">About<br>
                        Us</a>
                    <p class="mt-1 py-2 banner-p">Learn more about our vision
                        and
                        values</p>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                    <a href="#" class="btn btn-banner btn-block pt-2
                        text-uppercase">What's<br>
                        Up</a>
                    <p class="mt-1 py-2 banner-p">Stay updated with the
                        latest
                        news
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Spacer DIV -->
    <div class="spacer mb-5" style="height: 20vh;">
        <!-- Scroll down arrow -->
        <div class="col-12 text-center mb-5">
            <a href="#about_us" class="btn-scroll d-block"
                aria-label="Scroll Down">
                <i class="fas fa-chevron-down fa-2x"></i>
            </a>
        </div>

    </div>

    <!-- Include ABOUT US-->
    <div id="about_us"></div>
    <section class="bg-white about">
        <div class="container">
            <div class="row justify-content-center text-center pt-3 mb-3">
                {% include 'includes/about_us.html' %}
            </div>
    </section>

    <!-- Back to Top Button -->
    <div class="col-12 text-center mb-5">
        <a href="#top" class="btn-scroll d-block" aria-label="Back to Top">
            <i class="fas fa-chevron-up fa-2x"></i>
        </a>
    </div>

    <!-- DREAM CENTERS SECTION -->
    <section class="banner text-center py-4 mb-2">
        <div class="container">
            <h2 class="text-white my-4">Our realDream Centers</h2>
            <div class="row justify-content-center">
                <!-- Stockholm Center -->
                <div class="col-md-4 col-lg-2 mb-3">
                    <div class="center-card mx-auto">
                        <div>
                            <img src="{% static 'stockholm.webp' %}"
                                class="img-fluid rounded-circle center-img"
                                alt="Stockholm Center">
                            <div>
                                <h3 class="center-title text-white pt-3">
                                    Stockholm
                                </h3>
                            </div>
                        </div>
                        <div class="center-info">
                            <p class="center-text text-white">Our flagship
                                center, pioneering the future of dream
                                experiences for mankind.</p>
                            <a href="https://maps.google.com/?q=Stockholm"
                                class="btn btn-outline-light btn-sm"
                                target="_blank">View on Map</a>
                        </div>
                    </div>
                </div>
                <!-- Berlin Center -->
                <div class="col-md-4 col-lg-2 mb-3">
                    <div class="center-card mx-auto">
                        <div>
                            <img src="{% static 'berlin.webp' %}"
                                class="img-fluid rounded-circle center-img"
                                alt="Berlin Center">
                            <div>
                                <h3 class="center-title text-white pt-3">
                                    Berlin
                                </h3>
                            </div>
                        </div>
                        <div class="center-info">
                            <p class="center-text text-white">Immerse yourself
                                in the avant-garde scene of Berlin with our
                                tailored dreams.</p>
                            <a href="https://maps.google.com/?q=Berlin"
                                class="btn btn-outline-light btn-sm"
                                target="_blank">View on Map</a>
                        </div>
                    </div>
                </div>
                <!-- Paris Center -->
                <div class="col-md-4 col-lg-2 mb-3">
                    <div class="center-card mx-auto">
                        <div>
                            <img src="{% static 'paris.webp' %}"
                                class="img-fluid rounded-circle center-img"
                                alt="Paris Center">
                            <div>
                                <h3 class="center-title text-white pt-3">Paris
                                </h3>
                            </div>
                        </div>
                        <div class="center-info">
                            <p class="center-text text-white">Dive into the
                                elegance and romance of Paris in a dream unlike
                                any other.</p>
                            <a href="https://maps.google.com/?q=Paris"
                                class="btn btn-outline-light btn-sm"
                                target="_blank">View on Map</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Back to Top Button -->
    <div class="col-12 text-center mb-5">
        <a href="#top" class="btn-scroll d-block" aria-label="Back to Top">
            <i class="fas fa-chevron-up fa-2x"></i>
        </a>
    </div>

    <!-- CONTACT FORM-->
    <div id="contact_form"></div>
    <section class="bg-white">
        <div class="container text-center py-4 mb-2">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    {% include 'contact/contact.html' %}
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    function toggleText() {
        var text = document.getElementById("about-text");
        var button = document.getElementById("toggle-button");

        if (text.style.maxHeight === "200px") {
            text.style.maxHeight = "none";
            button.innerHTML = "Read Less";
        } else {
            text.style.maxHeight = "200px";
            button.innerHTML = "Read More";
        }
    }
</script>
{% endblock %}