{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid" id="top">
    <div class="row">
        <div class="col profile-heading mt-5 text-center">
            <hr>
            <h2>My Profile
                {{ user_profile }}</h2>
            <hr>
        </div>
    </div>
</div>
<!-- Wrapping background for all forms -->
<div class="profile-card-bg m-3">
    <!-- Sorting Section -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mt-0 pt-1">
                <!-- User Profile Form -->
                <p class="text-white mt-1 p-3">Personal
                    Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST"
                    id="user-profile-form">
                    {% csrf_token %}
                    {{ profile_form|crispy }}
                    <button type="submit" name="submit_profile_form"
                        class="btn btn-black rounded-2 text-uppercase float-right">Update
                        Profile</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 mt-5 mb-5 pt-3">
                <p class="text-muted">Order History</p>
                {{ orders }}
            </div>
            <div class="col-12 col-lg-6 mt-5 mb-5 pt-3">
                <!-- Health Status Form -->
                <p class="text-white">Health Status Declaration
                </p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST"
                    id="health-status-form">
                    {% csrf_token %}
                    {{ health_status_form|crispy }}
                    <button type="submit" name="submit_health_status_form"
                        class="btn btn-black rounded-2 text-uppercase float-right">Update
                        Health Status</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}