/* ---PROFILES CSS ONLY ***/

.profile-card-bg {
    background-color: #20315e47;
    opacity: 0;
    animation: fade 1s ease-in-out 1s forwards;
    border-radius: 55px;
}

.profile-heading {
    color: white;
    font-size: 2.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.order-history {
    max-height: 416px;
    /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}