@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* ------------------------------------------COLOR VARIABLES ***/
:root {
    --peach: #fec29d;
    --vanilla: #fae4a2;
    --amaranth-pink: #de97b5;
    --delft-blue: #3a445d;
    --black: black;
    --white: white;
}

html {
    height: 100%;
}

body.default-background {
    background: url('/static/dreamy_pink_heaven.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--amaranth-pink);
    opacity: 75%;
    z-index: -1;
}

/* --- BASE FONT SIZE & styles for SMALLER mobile devices --- */
html {
    font-size: 14px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

body {
    font-family: 'Arial', sans-serif;
}

h2,
h3 {
    font-family: 'Poiret One',
        sans-serif;
}

.text-black {
    color: black;
}

/* logo fonts */
.real-font {
    font-family: 'Poiret One',
        sans-serif;
}

.dreams-font-righteous {
    font-family: 'Righteous',
        'Arial Black',
        Gadget,
        sans-serif;
}

/* ------------------------------------------LANDING PAGE w/ LOGO ***/

.viewport-cover {
    height: 100vh;
    background-image: url('/static/dreams_bridge_pink_sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-logo-link {
    width: fit-content;
    color: black;
}

.main-logo-link span {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px var(--white);
    }

    50% {
        box-shadow: 0 0 20px var(--white);
    }

    100% {
        box-shadow: 0 0 5px var(--white);
    }
}

.fade-in-h1 {
    margin-top: -210px;
    line-height: 0.8;
    margin-bottom: 24px;
    animation: fade 1s ease-in-out 1s forwards;
    pointer-events: none;
    opacity: 0;
}

.fade-in-h2 {
    animation: fade 2s ease-in-out 1s forwards;
    pointer-events: none;
    opacity: 0;
}

.fade-in-p {
    font-size: 25px;
    text-transform: nav-link;
    margin: 60px;
    animation: fade 3s ease-in-out 1s forwards;
    pointer-events: none;
    opacity: 0;
}

/* landing page button */
.btn-fade {
    background-color: rgba(248, 232, 158, 0.3);
    color: var(--white);
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0;
    animation: fade 3s ease-in-out 1s forwards,
        glow 3s infinite ease-in-out 1s;
    transition: background-color 0.3s;
}

.btn-fade:hover,
.btn-fade:active,
.btn-fade:focus {
    background-color: var(--vanilla);
    color: rgb(62, 62, 63);
}

/* ------------------------------------------MORE BUTTONS***/

.btn {
    font-family: 'Poiret One', sans-serif;
}

.btn-black {
    background: black;
    color: var(--white);
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    color: var(--white);
}

/* ------------------------------------------NAVBAR***/
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--white);
}

.nav-link {
    font-family: 'Poiret One',
        sans-serif;
    color: black;
    font-weight: 900;
}

.dropdown-item {
    font-family: 'Roboto',
        sans-serif;
    color: var(--delft-blue);
}

/* ------------------------------------------HOME PAGE***/
.slogan {
    line-height: 1.1;
    padding: 10px 0;
    font-size: 3.5rem;
    margin-top: 9rem !important;
    margin-bottom: 10px: text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.real-font-slogan {
    font-family: 'Poiret One',
        sans-serif;
    font-weight: 900;
    line-height: 1em;
}

.products-header {
    margin-top: 6rem !important;
}

.discover-btn {
    background-color: rgba(252, 246, 214, 0.3);
    animation: fade 1s ease-in-out 1s forwards, glow 3s infinite ease-in-out 1s;
}

/* ------------------------------------------CARD STYLES ***/

.card {
    border: none;
    background-color: var(--dark-bg);
    margin-bottom: 1rem;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2);
}

.card-body {
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 5px 0px #0000006b,
        inset 4px 8px 15px 0px #0000006b,
        8px 4px 48px 5px rgba(18, 18, 18, 0.55);
    border-radius: 18px;
    box-shadow: 5px 5px 5px 0px #0000006b,
        inset 4px 8px 15px 0px #0000006b,
        8px 4px 48px 5px rgba(18, 18, 18, 0.55);
    border-radius: 18px;
}

.image-flash {
    background-color: var(--vanilla);
    opacity: 77%;
    padding: 10px;
    max-width: 94%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    transition: all 0.3s ease;
    border-radius: 2px;
}

.card-title {
    color: var(--delft-blue);
    font-family: 'Righteous';
    font-size: 12px;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-title a:hover,
.card-title a:active,
.card-title a:focus {
    text-decoration: none;
}

.card-text {
    color: var(--delft-blue);
    font-size: 10px;
    text-overflow: ellipsis;
}

.aspect-ratio-3-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container {
    position: relative;
    width: 100%;
    border-radius: 12px;
    padding-top: 66.67%;

    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

/* ------------------------------------------MEDIA QUERIES***/

/* --- SMALL devices (landscape phones, 576px and up) --- */
@media (min-width: 576px) {
    html {
        font-size: 15px;
        /* Slightly larger base font size */
    }

    h1 {
        font-size: 3rem;
        /* Example: scales to 24.5px on mobile */
    }

    .products-header {
        margin-top: 6.5rem !important;
    }
}

/* --- MEDIUM devices (tablets, 768px and up) --- */
@media (min-width: 768px) {
    html {
        font-size: 16px;
        /* Standard base font size */
    }

    h1 {
        font-size: 3rem;
        /* Example: scales to 24.5px on mobile */
    }

    h2 {
        font-size: 2rem;
        /* Example: scales to 21px on mobile */
    }

    h3 {
        font-size: 1.5rem;
        /* Example: scales to 17.5px on mobile */
    }

    .btn-fade {
        font-size: 1.8rem;
        margin-top: 10px;
    }

    .fade-in-h1 {
        margin-top: -170px;
        line-height: 0.8;
        margin-bottom: 24px;
    }
}

/* --- LARGE devices (desktops, 992px and up) --- */
@media (min-width: 992px) {
    html {
        font-size: 18px;
        /* Larger base font size for larger screens */
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    .products-header {
        margin-top: 4rem !important;
    }
}

/* --- EXTRA LARGE devices (large desktops, 1200px and up) --- */
@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }

    /* Slightly larger container on xl screens */
    .container {
        max-width: 80%;
    }
}