<!-- about_us.html -->

<div class="col-sm-12 col-md-8 text-center text-dark pt-5">
    <h2 class="mb-4">Who are we?</h2>
    <p class="lead toggle-text" id="about-text">
        Welcome to realDreams Co., where the future of dream
        experiences unfolds. Established in the visionary year of 2034,
        we are proud to be the world's first and exclusive provider of
        safe and intelligent dream experiences. Within just a year of
        our innovative inception, the overwhelming success of our
        initial Dream Center in Stockholm has led to rapid expansion,
        with new havens now open in Berlin and Paris.
        <br><br>
        Our phenomenal team, comprising the brightest minds in
        neurotechnology, virtual reality, and storytelling, has crafted
        dream adventures that are not only indistinguishable from
        reality but are also completely safe. Each experience, whether
        it's reliving historical events or exploring the wonders of the
        world, is curated to be thoroughly immersive, giving you
        memories that feel as if they span days, while you've only been
        with us for 60 to 180 minutes.
        <br><br>
        In today’s fast-paced world, where time is the most luxurious
        commodity, realDreams Co. offers an eco-friendly and
        time-effective way to escape the ordinary. Our dream
        experiences are tailored to fit into your schedule, allowing
        you to embark on extraordinary adventures without the time
        investment that traditional travel demands.
        <br><br>
        With realDreams Co., the realms of possibility are boundless.
        We release a new, meticulously crafted dream every quarter,
        ensuring there is always a new horizon to explore. Join us, and
        make the impossible a part of your reality. Our dreams are so
        vivid, they become a cherished part of your own story,
        seamlessly blending into your cache of personal memories.
        <br><br>
        Welcome to the future of dreaming.
    </p>
    <button onclick="toggleText()" class="btn mt-3 mb-2"
        id="toggle-button">Read
        More</button>
</div>