<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-black mr-5"
                href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5" href="#" id="all-dreams-link"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                All
            </a>
            <div class="dropdown-menu border-0"
                aria-labelledby="all-dreams-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item"> All realDreams</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5" href="#" id="categories-link"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="" class="dropdown-item">Historical Events</a>
                <a href="" class="dropdown-item">Adrenaline Kicks</a>
                <a href="" class="dropdown-item">Explore Lost Worlds</a>
                <a href="" class="dropdown-item">All Dreams</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5" href="#" id="about-link"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0"
                aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Who Are We</a>
                <a href="" class="dropdown-item">Our realDream Centers</a>
                <a href="" class="dropdown-item">Testimonials</a>
                <a href="" class="dropdown-item">Contact Us</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-black" href="#" id="specials-link"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                News
            </a>
            <div class="dropdown-menu border-0"
                aria-labelledby="specials-link">
                <a href="" class="dropdown-item">News</a>
            </div>
        </li>
    </ul>
</div>