<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'home' %}"
                id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'products' %}"
                id="categories-link">realDreams</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="categories-link"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Our Categories
            </a>
            <div class="dropdown-menu border-0"
                aria-labelledby="categories-link">
                <a href="{% url 'products' %}?category=historical_events"
                    class="dropdown-item">Historical Events</a>
                <a href="{% url 'products' %}?category=adrenaline_kicks"
                    class="dropdown-item">Adrenaline Kicks</a>
                <a href="{% url 'products' %}?category=underwater_worlds"
                    class="dropdown-item">Underwater Worlds</a>
                <a href="{% url 'products' %}" class="dropdown-item">All
                    Dreams</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="about-link"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="/home/#about_us" class="dropdown-item">Who Are We</a>
                <a href="/home/#dream_center" class="dropdown-item">Our
                    realDream
                    Centers</a>
                <a href="" class="dropdown-item">Testimonials</a>
                <a href="/home/#contact_form" class="dropdown-item">Contact
                    Us</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="news-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                News
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="news-link">
                <a href="" class="dropdown-item">News</a>
            </div>
        </li>
    </ul>
</div>