/* ---CHECKOUT CSS ONLY ***/

.checkout-bg {
    background-color: #e6e6e6ad;
    border-radius: 4px;
    position: relative
}

.checkout-heading {
    color: white;
    font-size: 2.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.back-to-cart {
    font-family: 'Poiret One', sans-serif;
    font-size: 1.5rem;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0.4rem;
    margin: 0.1rem;
    transition: transform 0.3s,
        box-shadow 0.3s;
}

.back-to-cart:hover,
.back-to-cart:focus {
    color: #fafaef;
    cursor: pointer;
    border-radius: 50% / 50%;
    text-decoration: none;
    transform: scale(1.05);
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}



/* -----------------------------------STRIPE PAYMENTS ***/

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}