{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %} - All Dreams {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block body_class %}viewport-cover{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="product-card-bg my-3">
        <div class="row justify-content-center max-width-500">
            <div class="col-12 mx-auto">
                <!-- Image Section -->
                <div class="my-5">
                    {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid product-img-shadow mt-5"
                            src="{{ product.image.url }}"
                            alt="{{ product.name }} Image" style="max-width: 100%;
                        height: auto;">
                    </a>
                    {% else %}
                    <!-- Fallback image if product.image is not available -->
                    <a href="">
                        <img class="card-img-top img-fluid mt-5"
                            src="{% static 'sparkling_dreams.webp' %}"
                            alt="Default Image" style="max-width: 100%; height:
                        auto;">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="container-products w-100 p-3">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <!-- Product Details Section -->
                        <div class="product-details-container mb-1">
                            <h2 class="product-title text-center">
                                {{ product.name }}
                            </h2>
                            <h3 class="mb2 text-center text-white small"><i
                                    class="fa-solid fa-layer-group"></i>
                                {{ product.category.get_friendly_name }}
                            </h3>
                            <hr class="hr-line-white">
                            <div class="fade-in-product mt-3">
                                <div
                                    class="row align-items-center text-white text-center">
                                    <div class="col">
                                        <p class="lead mb-0"><i
                                                class="fa-solid fa-euro-sign muted"></i><br>
                                            {{ product.price }}</p>
                                    </div>
                                    <div class="col text-white">
                                        <p class="lead mb-0">
                                            Size:<br>{{ product.size }}
                                        </p>
                                    </div>
                                    <div class="col">
                                        {% if product.available %}
                                        <span class="text-white"><i
                                                class="fa-solid fa-check "
                                                style="color:
                                    green;"></i><br>Available</span>
                                        {% else %}
                                        <span class="text-white"><i
                                                class="fa-solid fa-times"
                                                style="color: red;"></i><br>Not
                                            Available</span>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <span class="text-white"><i
                                                class="fa-solid fa-stopwatch fa-2x pr-1"></i>{{ product.duration }}</span>
                                    </div>
                                </div>
                                <hr class="hr-line-white">
                                <p class="text-white text-center">This
                                    realDream can be
                                    enjoyed in
                                    center(s):</p>
                                <ul class="text-white dreamcenter-padding">
                                    {% for center in product.dream_center.all %}
                                    <li>{{ center.name }}</li>
                                    {% endfor %}
                                </ul>
                                <p class="p-1 mt-3 text-white">
                                    {{ product.description|linebreaksbr }}
                                </p>
                                <!-- Quantity selection -->
                                <div class="col-12 mt-4">
                                    <form
                                        class="form d-flex flex-column align-items-end"
                                        action="{% url 'add_to_cart' product.id %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <p class="mb-1">Quantity</p>
                                        <div
                                            class="input-group input-group-sm mb-2">
                                            <div class="input-group-prepend">
                                                <button
                                                    class="btn btn-outline-secondary btn-decrement text-white"
                                                    type="button"
                                                    data-item-id="{{ product.id }}">
                                                    <i
                                                        class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <input type="number"
                                                name="quantity" value="1"
                                                min="1" max="9"
                                                class="form-control text-center"
                                                id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button
                                                    class="btn btn-outline-secondary btn-increment text-white"
                                                    type="button"
                                                    data-item-id="{{ product.id }}">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <!-- Buttons 'Shop More' & 'Add to Cart' -->
                                        <div
                                            class="form-group d-flex justify-content-between align-items-center mt-4">
                                            <a href="{% url 'products' %}"
                                                class="btn btn-outline-black rounded-2 p-1 small">
                                                <span class="icon">
                                                    <i
                                                        class="fas fa-chevron-left"></i>
                                                </span>
                                                <span
                                                    class="sort-nav-link p-1">Shop
                                                    more</span>
                                            </a>
                                            <button type="submit"
                                                class="btn btn-black rounded-2 p-1 text-uppercase">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                                Add to cart
                                            </button>
                                        </div>
                                        <input type="hidden"
                                            name="redirect_url"
                                            value="{{ request.path }}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    /**
     * Handles increment and decrement functionality for quantity selectors.
     * Ensures quantity does not go below 1 or above 9.
     * Applicable to all items identified by a unique data-item-id.
     */
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.btn-decrement, .btn-increment')
            .forEach(button => {
                button.addEventListener('click', function () {
                    const itemId = this.getAttribute(
                        'data-item-id');
                    const input = document.querySelector(
                        `#id_qty_${itemId}`);
                    let currentValue = parseInt(input
                        .value, 10);

                    if (this.classList.contains(
                            'btn-decrement') &&
                        currentValue > 1) {
                        input.value = currentValue - 1;
                    } else if (this.classList.contains(
                            'btn-increment') &&
                        currentValue < 9) {
                        input.value = currentValue + 1;
                    }
                });
            });
    });
</script>
{% endblock %}