<div class="toast custom-toast rounded-1 border-top-0 message-container">
    <div class="arrow-up arrow-success"></div>
    <div class="toast-header bg-white text-dark py-1">
        <button type="button" class="close text-dark" data-dismiss="toast"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white p-2">
        <div class="row">
            <div class="col"> <strong
                    class="bg-white text-dark {% if 'profile-update' in message.tags %}custom-profile-message{% else %}default-message{% endif %}">
                    {{ message }}
                </strong>
                <hr class="my-2">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <p class="bg-white py-1 small">Your cart ({{ product_count }})
        </p>
        <div class="cart-notification-wrapper">
            {% for item in cart_items %}
            <div class="row no-gutters">
                <div class="col-12">
                    <p class="my-0 small">
                        <strong>{{ item.product.name }}</strong> - Qty:
                        {{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row no-gutters">
            <div class="col">
                <p class="my-1 small">
                    <strong>Total:</strong> <span
                        class="float-right">€{{ total|floatformat:2 }}</span>
                </p>
                {% if consultation > 0 %}
                <p class="mb-0 p-2 bg-warning text-center small">
                    {{ free_consultation_message }}
                </p>
                {% else %}
                <p class="mb-0 p-1 bg-success text-center small">
                    You qualified for a free consultation!
                </p>
                {% endif %}
                <a href="{% url 'view_cart' %}"
                    class="btn btn-sm btn-black btn-block rounded-1 mt-2">
                    <span class="text-uppercase small">Go To Secure
                        Checkout</span>
                    <span class="icon"><i class="fas fa-lock"></i></span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>